<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${visitor}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Curriculum Vitae</h1>
    <p>Name : Farah Alhaniy Efendi</p>
    <p>Birthplace, Birthdate : Jakarta, 18 November 1998</p>
    <p>Address : Jalan Tebet Timur Dalam</p>
    <br>
    <p>Education History</p>
    <p>Elementary School : SDIT Al-ittihaad</p>
    <p>Middle School : SMPN 73 Jakarta</p>
    <p>High School : SMAN 8 Jakarta</p>
    <p>Universitas : Universitas Indonesia</p>
    <br>
    <p>Saya sedang berkuliah di Fakultas Ilmu Komputer, saya mengambil jurusan Ilmu Komputer.</p>
</body>
</html>
